@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cambo&family=Crete+Round:ital@1&family=Dancing+Script:wght@600&family=Outfit:wght@300&family=Playfair+Display:wght@500&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,400;8..144,500&family=Vollkorn:ital@1&display=swap');

*{
    font-family: 'Roboto Flex', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img-1{
    background-image: url(images/image\ 19.jpg);
}

.bg-img-2{
    background-image: url(images/image\ 6.jpg);
}

.bg-img-3{
    background-image: url(images/image\ 18.jpg);
}

.bg-img-4{
    background-image: url(images/image\ 17.jpg);
}
 
.bg-img-5{
    background-image: url(images/image\ 5.jpg);
}

.carousel-image{
    margin-top: 2px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    padding:.5rem 5rem;
    background-color: greenyellow;
    z-index: 50;
   }

.navbar .navbar-brand{
    font-size: 30px;
    font-weight:bolder;
    color: blue;
    letter-spacing: 3px;
    }

    .navbar .color{
        color: orangered;
        font-size: 30px;
    }

   #navbarSupportedContent a{
    color:black;
    font-size: 20px;
    font-weight: 400px;
    letter-spacing: 1px;
   }

   #navbarSupportedContent a:hover{
    color: red;
    background-color: rgb(207, 248, 145);
   }

   #navbarSupportedContent li{
    padding: 20px;
   }

   .navbar-toggler,
   .navbar-toggler-icon{
    color: black;
    background-color: black;
   }

 .carousel-caption h1{
        font-size: 100px;
        min-height: 100vh;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

      /***************About*************/
    #about{
        margin-top: 50px;
       background-color:rgb(235, 165, 188);
    }

    #about img{
        margin-top: 200px;
       margin-left: 100px;
       height: 400px;
       width: 400px;


    }

    #about h1{
        font-size: 50px;
        font-weight: 800px;
        color: white;
    }

    #about h3{
        font-size:30px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: Georgia;
    }

    #about p{
        font-size: 23px;
        font-family: 'Times New Roman';
    }

    /*********Service*********/

    #service{
        margin-top: 50px;
        background-color: rgb(164, 238, 238);
    }

    #service h1{
        margin-top: 40px;
        font-size: 5opx;
        font-weight: 600;
        letter-spacing: 1px;
    }

    #service p{
        font-size:23px ;
        font-family: 'Times New Roman';
    }

    /**********product**********/

    #product{
        margin-top: 50px;
        background-color:rgb(253, 143, 143);
    }

    #product h1{
        margin-top: 100px;
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        align-items: center;
    }

    .card{
        margin-top: 100px;
        width: 300px;
        height: 300px;
        border-radius: 20px;
        pad: 10px;
        overflow: hidden;
    }

    .card-title{
        text-align: center;
        color: red;
        font-weight: bold;
    }

    .card p{
        text-align: center;
        color: green;
        font-weight: bold;
    }

    .container-fluid{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    /**********contact************/

    #contact{
        margin-top: 50px;
        background-color: antiquewhite;
    }

    #contact h1{
        margin-top: 50px;
        font-size: 5opx;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
    }

    form{
       display: flex;
       flex-direction: column;
       text-align: center;
    }

    #contact input{
        margin: 10px 0px;
    }

    #contact textarea{
        margin: 10px 0px;
    }

   
